<h1>Listing contacts</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Image</th>
      <th>Available</th>
      <th>Status</th>
      <th>Location</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Time zone</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.id %></td>
        <td><%= contact.first_name %></td>
        <td><%= contact.last_name %></td>
        <td><%= contact.image %></td>
        <td><%= contact.available %></td>
        <td><%= contact.status %></td>
        <td><%= contact.location %></td>
        <td><%= contact.latitude %></td>
        <td><%= contact.longitude %></td>
        <td><%= contact.time_zone %></td>
        <td><%= link_to 'Show', contact %></td>
        <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
        <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact', new_contact_path %>
