<h1>Listing contact_phones</h1>

<table>
  <thead>
    <tr>
      <th>Contact</th>
      <th>Number</th>
      <th>Active</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @contact_phones.each do |contact_phone| %>
      <tr>
        <td><%= contact_phone.contact_id %></td>
        <td><%= contact_phone.number_id %></td>
        <td><%= contact_phone.active %></td>
        <td><%= link_to 'Show', contact_phone %></td>
        <td><%= link_to 'Edit', edit_contact_phone_path(contact_phone) %></td>
        <td><%= link_to 'Destroy', contact_phone, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact phone', new_contact_phone_path %>
